html, body {
    /* height: 100%;
    overflow:auto; */
    padding: 0;
    margin: 0;
    color: rgb(255, 246, 220);
    background-color: rgb(51, 50, 50);
}

h1 {
    text-align: center;
}

a {
    color: wheat;
}

.main {
    height:auto;
    display:flex;
}

.main-block {
    width:70%;
    padding: 10px;
}

.img-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(15, 10vw);
    grid-gap: 15px;
}

.img-cell {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img {
    width: 100%;
    height: 100%;
}

.section {
    width:30%;
    text-align: center;
    background-color: rgb(31, 30, 30);
}

.column {
    margin-top: 50px;
    display: inline-block;
    padding: auto;
}

input {
    margin: 10px;
}

.main-image {
    margin: auto;
    width:70%;
    padding: 10px;
}

.error {
    color: red;
}