html, body {
    /* height: 100%;
    overflow:auto; */
    padding: 0;
    margin: 0;
    color: rgb(255, 246, 220);
    background-color: rgb(51, 50, 50);
}

h1 {
    text-align: center;
}

a {
    color: wheat;
}

.main {
    height:auto;
    display:flex;
    padding: 10px;
}

.main-block {
    width:70%;
}

.img-row {
    display: flex;
}

.img-cell {
    height: 100px;
    width: 100px;
    padding: 5px;
}

img {
    max-width: 100%;
    height: 100%;
}

.section {
    margin-top: 50px;
    width:30%;
    text-align: center;
    background-color: rgb(31, 30, 30);
}

.column {
    display: inline-block;
    padding: auto;
}

input {
    margin: 10px;
}